<!-- content-->
<section>
    <div class="container">
       <div class="row">
          <div class="col-lg-8 offset-lg-2 col-md-12 col-12">
             <div class="text-center mb-8">
                <small class="text-uppercase ls-md fw-semibold">About Block</small>
                <h1 class="mb-3 mt-3">Empowering the world to design</h1>
                <p class="mb-0 px-lg-6">
                   We are Block, a Digital Product Design & Branding Agency. As a team of Designers, Business Analysts, Strategists, Content Writers, and Project
                   Managers, we collaborate on a result-oriented design process.
                </p>
             </div>
          </div>
       </div>
       <div class="row gy-4">
          <div class="col-lg-4 col-md-4 col-12">
             <a href="@@webRoot/assets/images/about-img/about-img-1.jpg" class="glightbox rounded-3">
                <div
                   class="rounded-3 card-lift"
                   style="
                      background-image: url(@@webRoot/assets/images/about-img/about-img-1.jpg);
                      background-repeat: no-repeat;
                      height: 350px;
                      background-size: cover;
                   "></div>
             </a>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
             <a href="@@webRoot/assets/images/about-img/about-img-2.jpg" class="glightbox rounded-3">
                <div
                   class="rounded-3 card-lift"
                   style="
                      background-image: url(@@webRoot/assets/images/about-img/about-img-2.jpg);
                      background-repeat: no-repeat;
                      height: 350px;
                      background-size: cover;
                   "></div>
             </a>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
             <a href="@@webRoot/assets/images/about-img/about-img-3.jpg" class="glightbox rounded-3">
                <div
                   class="rounded-3 card-lift"
                   style="
                      background-image: url(@@webRoot/assets/images/about-img/about-img-3.jpg);
                      background-repeat: no-repeat;
                      height: 350px;
                      background-size: cover;
                   "></div>
             </a>
          </div>
       </div>
    </div>
 </section>
 <!--image-->