 <!--our awards-->
 <section class="my-lg-9 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-xl-7 mb-5">
                    <h2 class="mb-3">Our awards</h2>
                    <p class="mb-0">We're grateful to have won a few awards
                        along the way. Thank you to our community for always
                        pushing us to do better and build bigger.</p>
                </div>
            </div>
        </div>
        <div class="row g-6">
            <div class="col-lg-3 col-md-6 col-12">
                <figure class="text-center">
                    <img src="../assets/images/award-logo/award-logo-1.svg"
                        alt="logo" class />
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <figure class="text-center">
                    <img src="../assets/images/award-logo/award-logo-2.svg"
                        alt="logo" class />
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <figure class="text-center">
                    <img src="../assets/images/award-logo/award-logo-4.svg"
                        alt="logo" class />
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <figure class="text-center">
                    <img src="../assets/images/award-logo/award-logo-3.svg"
                        alt="logo" class />
                </figure>
            </div>
        </div>
    </div>
</section>
<!--our awards-->