<!--Modern tech start-->
<section class="py-xl-9 py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-md-12 col-12">
                <div class="text-center mb-xl-7 mb-5">
                    <small class="text-uppercase ls-md fw-semibold">modern
                        tech stack</small>
                    <h2 class="my-3">Building the web</h2>
                    <p class="mb-0 text-body">
                        We work with cutting-edge technologies designed to
                        solve your product requirements. Focus on finding
                        solutions for your business needs while we handle
                        the technical
                        aspect.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div
                    class="row row-cols-lg-5 row-cols-md-4 row-cols-2 justify-content-center g-5">
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-1.svg"
                                alt="logo" />
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-2.svg"
                                alt="logo" />
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-3.svg"
                                alt="logo" />
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-4.svg"
                                alt="logo" />
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-5.svg"
                                alt="logo" />
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-6.svg"
                                alt="logo" />
                        </figure>
                    </div>

                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-7.svg"
                                alt="logo" />
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-8.svg"
                                alt="logo" />
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-9.svg"
                                alt="logo" />
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="text-center mb-0">
                            <img src="../assets/images/brand-logo/brand-logo-10.svg"
                                alt="logo" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Modern tech end-->