<!--project idea-->
<section class="py-lg-8 py-5 bg-gray-900">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-7">
                        <div class="text-center text-md-start mb-6 mb-md-0">
                            <h2 class="text-white-stable">Have a Cool
                                Project idea?</h2>
                            <p class="mb-0 text-dark-50">Plan to building a
                                new website or web app for startup.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <div class="text-center">
                            <a href="#" class="btn btn-primary">Start by
                                saying Hi..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--project idea-->