<!--Portfolio start-->
<section class="my-xl-10 py-xl-9 py-10">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 offset-xl-3 col-md-12">
                <div class="text-center mb-lg-7 mb-5">
                    <small
                        class="text-uppercase ls-md fw-semibold text-body-tertiary">Portfolio</small>
                    <h2 class="mt-5 px-lg-10 px-6">
                        Handful of items from
                        <span class="text-primary">my portfolio.</span>
                    </h2>
                    <p class="mb-0">
                        Here are a handful of items from my portfolio over
                        the
                        <span class="text-dark">last 13 years.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="table-responsive-xl pb-5">
            <div class="row flex-nowrap">
                <div class="col-lg-4 col-md-6">
                    <a href="#!">
                        <div class="card card-lift">
                            <div class="card-body pb-0">
                                <div class="mb-6">
                                    <h3 class="h4 mb-4">JAMstack & Headless
                                        web development agency</h3>
                                    <span
                                        class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded-2">Figma</span>
                                    <span
                                        class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded-2">Bootstrap</span>
                                </div>
                                <img src="../assets/images/perosnal-portfolio/personal-portfolio-img-3.jpg"
                                    alt="portfolio"
                                    class="img-fluid rounded-top shadow-sm" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#!">
                        <div class="card card-lift">
                            <div class="card-body pb-0">
                                <div class="mb-6">
                                    <h3 class="h4 mb-4">Banking and Finance
                                        landing page design</h3>
                                    <span
                                        class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded-2">UI
                                        Design</span>
                                    <span
                                        class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded-2">Next.js</span>
                                </div>

                                <img src="../assets/images/perosnal-portfolio/personal-portfolio-img-2.jpg"
                                    alt="portfolio"
                                    class="img-fluid rounded-top shadow-sm" />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="#!">
                        <div class="card card-lift">
                            <div class="card-body pb-0">
                                <div class="mb-6">
                                    <h3 class="h4 mb-4">Accounting software
                                        web app development</h3>
                                    <span
                                        class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded-2">Web
                                        Development</span>
                                    <span
                                        class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded-2">React
                                        JS</span>
                                </div>
                                <img src="../assets/images/perosnal-portfolio/personal-portfolio-img-1.jpg"
                                    alt="portfolio"
                                    class="img-fluid rounded-top shadow-sm" />
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Portfolio end-->