<!--Our clients says start-->
<section class="my-lg-7 py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12">
                <div class="text-center mb-5 mb-lg-7">
                    <small class="border rounded-pill border-primary-subtle text-primary text-uppercase px-3 py-2 fw-semibold">Testimonial</small>
                    <h2 class="mt-4">What our clients say</h2>
                    <p class="mb-0">See what our clients have to say about their experience working with us and our team.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12">
                <div class="tab-content mb-5" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-vercel" role="tabpanel" aria-labelledby="pills-vercel-tab" tabindex="0">
                        <div class="card shadow-sm">
                            <div class="card-body p-lg-6">
                                <div class="mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-quote text-primary" viewBox="0 0 16 16">
                                        <path
                                            d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                                    </svg>
                                </div>
                                <p class="lead mb-7 text-dark">
                                    Our website redesign surpassed our expectations. Codescandy attention to detail and creativity resulted in a visually stunning and user-friendly site
                                    that immediately boosted our online presence.
                                </p>
                                <div class="d-flex align-items-center">
                                    <figure>
                                        <img src="../assets/images/avatar/avatar-1.jpg" alt="avatar" class="rounded-circle avatar avatar-lg" />
                                    </figure>
                                    <div class="ms-3">
                                        <h4 class="h5 mb-0">Leon Campbell</h4>
                                        <small>Creative Director - Design agency</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-netlify" role="tabpanel" aria-labelledby="pills-netlify-tab" tabindex="0">
                        <div class="card shadow-sm">
                            <div class="card-body p-lg-6">
                                <div class="mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-quote text-primary" viewBox="0 0 16 16">
                                        <path
                                            d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                                    </svg>
                                </div>
                                <p class="lead mb-7 text-dark">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia temporibus nobis esse, accusamus repellendus labore maiores dicta inventore optio
                                    perspiciatis Corrupti.
                                </p>
                                <div class="d-flex align-items-center">
                                    <figure>
                                        <img src="../assets/images/avatar/avatar-2.jpg" alt="avatar" class="rounded-circle avatar avatar-lg" />
                                    </figure>
                                    <div class="ms-3">
                                        <h4 class="h5 mb-0">Christilla Lias</h4>
                                        <small>Co-Founder - Design agency</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contentful" role="tabpanel" aria-labelledby="pills-contentful-tab" tabindex="0">
                        <div class="card shadow-sm">
                            <div class="card-body p-lg-6">
                                <div class="mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-quote text-primary" viewBox="0 0 16 16">
                                        <path
                                            d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                                    </svg>
                                </div>
                                <p class="lead mb-7 text-dark">
                                    Ducimus repellendus dolores rerum, nihil magni veritatis deleniti adipisci alias vero, id similique ab debitis dolorem doloribus! Consectetur.
                                </p>
                                <div class="d-flex align-items-center">
                                    <figure>
                                        <img src="../assets/images/avatar/avatar-3.jpg" alt="avatar" class="rounded-circle avatar avatar-lg" />
                                    </figure>
                                    <div class="ms-3 mb-0">
                                        <h4 class="h5 mb-0">Leon Campbell</h4>
                                        <small>Web Designer - Design agency</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-svelte" role="tabpanel" aria-labelledby="pills-svelte-tab" tabindex="0">
                        <div class="card shadow-sm">
                            <div class="card-body p-lg-6">
                                <div class="mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-quote text-primary" viewBox="0 0 16 16">
                                        <path
                                            d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                                    </svg>
                                </div>
                                <p class="lead mb-7 text-dark">
                                    Id maxime odio laborum aspernatur nisi illum dicta? Dolorum in saepe fugit. Aliquam, sit, rerum nihil labore ullam ducimus dolor odit vel rem
                                    voluptatibus dolores! Qui, obcaecati!
                                </p>
                                <div class="d-flex align-items-center">
                                    <figure>
                                        <img src="../assets/images/avatar/avatar-4.jpg" alt="avatar" class="rounded-circle avatar avatar-lg" />
                                    </figure>
                                    <div class="ms-3">
                                        <h4 class="h5 mb-0">Mian Netwon</h4>
                                        <small>Lead Developer - Design agency</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav justify-content-center nav-logo" id="pills-tabOne" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a
                            href="#!"
                            class="nav-link active"
                            id="pills-vercel-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-vercel"
                            role="tab"
                            aria-controls="pills-vercel"
                            aria-selected="true">
                            <figure>
                                <img src="../assets/images/brand-logo/brand-logo-1.svg" alt="img" />
                            </figure>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                            href="#!"
                            class="nav-link"
                            id="pills-netlify-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-netlify"
                            role="tab"
                            aria-controls="pills-netlify"
                            aria-selected="false">
                            <figure>
                                <img src="../assets/images/brand-logo/brand-logo-3.svg" alt="img" />
                            </figure>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                            href="#!"
                            class="nav-link"
                            id="pills-contentful-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-contentful"
                            role="tab"
                            aria-controls="pills-contentful"
                            aria-selected="false">
                            <figure>
                                <img src="../assets/images/brand-logo/brand-logo-5.svg" alt="img" />
                            </figure>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                            href="#!"
                            class="nav-link"
                            id="pills-svelte-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-svelte"
                            role="tab"
                            aria-controls="pills-svelte"
                            aria-selected="false">
                            <figure>
                                <img src="../assets/images/brand-logo/brand-logo-7.svg" alt="img" />
                            </figure>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Our clients says end-->