<!--Call to action start-->
<section class="my-lg-7 py-5">
    <div class="container">
        <div
            class="row bg-pattern bg-primary-gradient rounded-3 py-lg-7 py-5 g-0">
            <div class="col-md-8 offset-md-2">
                <div class="text-center position-relative z-1 px-5"
                    >
                    <div class="mb-5">
                        <h3 class="h2 text-white-stable mb-3">Ready to
                            attend?</h3>
                        <p class="mb-0 text-white-stable">
                            Ready to join our block community of business
                            leaders for four days of virtual sessions on
                            driving developer happiness and boosting
                            productivity?
                        </p>
                    </div>

                    <a href="#" class="btn btn-dark">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Call to action end-->