<!--Developer events start-->
<section class="my-xl-9 my-5">
    <div class="container">
        <div class="row mt-lg-5 mt-1 g-5">
            <div class="col-lg-10 offset-lg-1">
                <div class="row g-5">
                    <div class="col-md-3 col-6">
                        <div class="text-center">
                            <div class="d-flex justify-content-center">
                                <h2 class="counter mb-0" data-count="20">0</h2>
                                <span class="ms-1 fs-2 text-dark">+</span>
                            </div>
                            <small>Influential speakers</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="text-center">
                            <div class="d-flex justify-content-center">
                                <h2 class="counter mb-0" data-count="19">0</h2>
                                <span class="ms-1 fs-2 text-dark">+</span>
                            </div>
                            <small>Sessions (Live)</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="text-center">
                            <div class="d-flex justify-content-center">
                                <h2 class="counter mb-0" data-count="5">0</h2>
                                <span class="ms-1 fs-2 text-dark">+</span>
                            </div>
                            <small>Free Workshops</small>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="text-center">
                            <div class="d-flex justify-content-center">
                                <h2 class="counter mb-0" data-count="3">0</h2>
                            </div>
                            <small>Days (29 to 31 March)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Developer events end-->