<!--Project we done start-->
<section class="my-xl-9 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="text-center mb-xl-7 mb-5">
                    <small class="text-uppercase ls-md fw-semibold">Project
                        we done</small>

                    <h2 class="my-3">Featured work</h2>
                    <p class="mb-0">We're a web design agency creating
                        next‑level websites by strategically blending user
                        experience and brand storytelling.</p>
                </div>
            </div>
        </div>
        <div class="table-responsive-lg">
            <div class="row flex-nowrap pb-4 pb-lg-0 me-5 me-lg-0">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <figure
                            class="lift position-relative btn-arrow mb-4">
                            <a href="./portfolio-single.html">
                                <img src="../assets/images/portfolio/portfolio-img-1.jpg"
                                    alt="portfolio-2"
                                    class="img-fluid rounded-3" />

                                <div
                                    class="icon-shape icon-lg bg-white rounded-circle icon-arrow shadow-lg">
                                    <i class="bi bi-arrow-up-right"></i>
                                </div>
                            </a>
                        </figure>

                        <h2 class="lh-base h4">
                            <a href="./portfolio-single.html"
                                class="text-reset">Chat GPT for Figma</a>
                        </h2>
                        <p class="mb-0 text-body-tertiary fw-medium">
                            Development</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <figure
                            class="lift position-relative btn-arrow mb-4">
                            <a href="./portfolio-single.html">
                                <img src="../assets/images/portfolio/portfolio-img-5.jpg"
                                    alt="portfolio-2"
                                    class="img-fluid rounded-3" />
                                <div
                                    class="icon-shape icon-lg bg-white rounded-circle icon-arrow shadow-lg">
                                    <i class="bi bi-arrow-up-right"></i>
                                </div>
                            </a>
                        </figure>

                        <h2 class="lh-base h4">
                            <a href="./portfolio-single.html"
                                class="text-reset">Virtual reality</a>
                        </h2>
                        <p class="mb-0 text-body-tertiary fw-medium">UI/UX
                            Design</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <figure
                            class="lift position-relative btn-arrow mb-4">
                            <a href="./portfolio-single.html">
                                <img src="../assets/images/portfolio/portfolio-img-4.jpg"
                                    alt="portfolio-2"
                                    class="img-fluid rounded-3" />
                                <div
                                    class="icon-shape icon-lg bg-white rounded-circle icon-arrow shadow-lg">
                                    <i class="bi bi-arrow-up-right"></i>
                                </div>
                            </a>
                        </figure>

                        <div>
                            <h2 class="lh-base h4">
                                <a href="./portfolio-single.html"
                                    class="text-reset">AI avatar
                                    application</a>
                            </h2>
                            <p class="mb-0 text-body-tertiary fw-medium">Web
                                Development</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center my-5">
                    <a href="#" class="btn btn-primary">Read case study</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Project we done end-->